/* ?overall css for page */

* {
    margin: 0 auto;
}

body {
   
    font-family: "Inter", serif;

}
 :root{
    color-scheme: light dark;
    --dark-color: hsl(235, 17%, 12%);
    --light-color: hsl(0 0% 98%);
    --lightBlue-color: hsl(187, 100%, 90%);
    --darkBlue-color: hsl(187, 57%, 33%);
}

[data-dark="true"]{
    color-scheme: dark;
}
[data-dark="false"]{
    color-scheme: light;
}
html{
    color: light-dark(var(--dark-color),var(--light-color));
    background-color: light-dark(var(--light-color),var(--dark-color));
}
.card_box div,.card_box a,.heart_btn {
    color: light-dark(var(--dark-color),var(--light-color));
    background-color: light-dark(var(--lightBlue-color),var(--darkBlue-color));
}





h1{
    font-size: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
}


/* ?to put each offer in their own box and on a row */
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 4em;

    width: 75rem;
}

/* ?image */
.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ? baby blue around more and favorite button */
.card_box div {
    padding: 1em;
}

/* ?mix of favorite button and link to apartment(mostly link to apartment) */
.card_link,
.heart_btn {
    text-decoration: none;
    font-size: 1em;
}



/* ?favorite button */
.heart_btn {
   border: none;
}

heart_btn--selected {
    color: red;
}

